body {}

#home {
    color: black;
    /*background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(245, 246, 252, 0.52)), url("../assets/four.webp");*/
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100vh;
}

.nav-link {
    color: black;
}

.nav-item {
    padding-left: 10px;
    padding-right: 10px;
}

.navbar-brand {
    color: black;
    font-family: Patrick Hand;
    font-weight: bolder;
    font-size: 30px;
}

#title {
    font-family: Abel;
    font-size: 60px;
    padding-top: 150px;
    padding-left: 250px;
    font-weight: bold;
    color: black;
}

h5 {
    padding-left: 250px;
    font-weight: lighter;
    color: black;
}

span {
    color: brown;
}

#about img {
    padding-top: 50px;
    padding-left: 90px;
    padding-right: 50px;

}

#menu {
    padding-bottom: 80px;
}

.menu .box-container {
    display: flex;
    gap: 1.5rem;
}

.box {
    height: 300px;
    width: 300px;
    border: 1rem solid #fff;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    border-radius: .5rem;
    position: relative;
    overflow: hidden;
}


.menu .box-container .box img {
    height: 100%;
    width: 100%;
}

.content {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, .8);
    padding: 2rem;
    padding-top: 5rem;
    text-align: center;
    display: none;
}

.content h3 {
    font-size: 30px;
    color: black;
}

.content p {
    font-size: 15px;
    color: black;
    padding: 1rem 0;
}

/*
.box:hover .content {
    top: 0;
}*/

.row {
    padding-left: 80px;
}

.btn {
    background-color: grey;
}