#home {
    color: white;
    background-color: black;
    background-image: url("../assets/four.webp");
    background-size: cover;
    background-color: black;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100vh;
}

.nav-link {
    color: white;
}

.navbar-brand {
    color: white;
}

#title {
    font-family: Abel;
    font-size: 60px;
    padding-top: 150px;
    padding-left: 200px;
    font-weight: bolder;
}